body {
    width: 400px;
    text-align: center;
}

.hidden {
    display: none
  }
  
.logo {
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.2rem;
    text-align: center;
    color: white;
    padding: 2px;
    background: #2D2DB5;
    background: -moz-linear-gradient(left, #2D2DB5 0%, #6C31B5 100%);
    background: -webkit-linear-gradient(left, #2D2DB5 0%, #6C31B5 100%);
    background: linear-gradient(to right, #2D2DB5 0%, #6C31B5 100%);
    border-radius: 5px;
}

.extensionBox {
    position: relative;
    text-align: center;
}

button {
    margin: 0 auto;
}

h2 {
    width: 100%;
    line-height: 1.2rem;
    text-align: center;
    color: white;
    padding: 2px;
    background: #2D2DB5;
    background: -moz-linear-gradient(left, #2D2DB5 0%, #6C31B5 100%);
    background: -webkit-linear-gradient(left, #2D2DB5 0%, #6C31B5 100%);
    background: linear-gradient(to right, #2D2DB5 0%, #6C31B5 100%);
    border-radius: 5px;
}

h3 {
    font-size: 24px;
    font-family: "Roboto Light", sans-serif;
}

h4 {
    font-size: 16px;
}

#currentBtn {
    margin-bottom: 14px;
}

.extensionBox {
    padding: 5px;
}

.elementsContainer {
    width: 100%;
}

.search {
    font-size: 1rem;
    width: 100%;
}

.material-icons {
    line-height: 1rem;
    margin-left: 15px;
    color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: 180px auto;
    margin-top: 10px;
    grid-row-gap: 5px;
    background-color: #EEEEEE;
}

.grid-item {
    font-size: 20px;
    text-align: center;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item8 {
    padding: 5px;
    border-bottom: 5px solid white;
    
}

.container {
    display: grid;
}

.cardMainImg {
    object-fit: cover;
    width: 100%;
    max-height: 130px;
}

.cardOptionImg {
    object-fit: cover;
    width: 100%;
    max-height: 80px;
}

.lowerBar{
    width: 100%;
    height: 10px;
    line-height: 0.5rem;
    background: #2D2DB5;
    border-radius: 5px;
    background: -moz-linear-gradient(left, #2D2DB5 0%, #6C31B5 100%);
    background: -webkit-linear-gradient(left, #2D2DB5 0%, #6C31B5 100%);
    background: linear-gradient(to right, #2D2DB5 0%, #6C31B5 100%);
}

.divider {
    height: 2px;
    background: #000000;
}